html,body{
	margin:0;
	padding:0
}
	
	.headingcolor1{
		color:black;
		background-color:yellow;
		padding:0px;
		justify-content:center;
	}
	#textfont1{
		font-family:Montserrat, sans-serif;
	}
	}
	#flex1{
		flex-grow:1
	}
	#flex2{
		flex-grow:5
	}
	.group{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
	}
	.nav{
		display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		background-color:black;
		color:white;
		padding:1%;
		
	}
	
	
	}
	.center{
		display:flex;
		justify-content:space-evenly
	}
	.flex-start{
		display:flex;
		justify-content:flex-start
	}
	.flex-end{
		display:flex;
		justify-content:flex-end
	}
	.column{
		display:flex;
		flex-direction:column;
		align-items:center;
		width:100%
	}
	.row{
		display:flex;
		flex-direction:row;
		
	}
	.border{
		border: 3px solid;
	}
	.formflex{
		display:flex;
		flex-direction:column;
		width: 100%;
	}
	.flex-row{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
	}
	{
			
	}
	.bottom{
		background-color:grey;
		padding:2%;
		width:100%;	
		
	}
	td{
		
		
		padding:.25%;
		
	}
	
	a{
		color:#cccccc;
		align-items:center;
	}
	a:link{
  color: black;
  background-color: transparent;
  text-decoration: underline;
  
	}	
	a:visited{
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
	}
	a:hover{
	  color: blue;
	  background-color: transparent;
	  text-decoration: underline;
	}
	a:active{
	  color: grey;
	  background-color: transparent;
	  text-decoration: underline;
	}
		
		.nav a, .nav a:visited{
			color:yellow;
			
		}
		
		.nav a:hover{
			color:purple;
		}